h2 {
  font-size: 16px;
}

.products-item {
  margin-left: 15px;
}

.product-row {
  margin-top: 15px;
}

.product-row:first-child {
  margin-top: 0;
}

.products-item:first-child {
  margin-left: 0;
}

.products-item-enter {
  opacity: 0.01;
}

.products-item-enter.products-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.products-item-leave {
  opacity: 1;
}

.products-item-leave.products-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
